<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="fs-4">Simple header</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a routerLink="" class="nav-link">Home</a>
      </li>
      <li class="nav-item" *ngIf="!isAuthenticated()">
        <a routerLink="login" class="nav-link">Login</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated()">
        <a routerLink="secret" class="nav-link">Secret</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated() && hasRole('worker')">
        <a routerLink="worker" class="nav-link">Worker</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated() && hasRole('admin')">
        <a routerLink="admin" class="nav-link">Admin</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated()">
        <a href="#" class="nav-link" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </header>
</div>
